body {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background: #83AF9B;
}
h1 {
    background: #FE4365;
    color: #F9CDAD;
    font-size: 6em;
    padding: 50px;
    margin-bottom: 0;
}
h2 {
    margin-bottom: 50px;
    color: #FE4365;
    font-size: 2em;
}
q {
    font-size: 1.5em;
}
p {
    background: #FC9D9A;
    color: whitesmoke;
    padding: 50px;
    font-size: 1.2em;
}
h3 {
    color: #FE4365;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 50px;
}
ul, ol {
    margin-left: 30px;
    
}
ul {
    list-style: square;
}
li {
    padding: 10px;
}
a:visited {
    color: black;
}
a:hover {
    color: whitesmoke;
    text-decoration: none;
}
